{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "jest-dom",
        "testing-library"
    ],
    "extends": [
        "airbnb",
        "airbnb/hooks",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:prettier/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:jest-dom/recommended",
        "plugin:testing-library/recommended",
        "plugin:testing-library/react"
    ],
    "rules": {
        "prettier/prettier": 0,
        "@typescript-eslint/no-use-before-define": [
            "error"
        ],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".tsx",
                    ".ts"
                ]
            }
        ],
        "import/extensions": 0,
        "react/prop-types": 0,
        "react/jsx-indent": 0,
        "react/display-name": 0,
        "react/jsx-indent-props": 0,
        "react/jsx-props-no-spreading": 0
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx"
                ]
            }
        }
    }
}